html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial;

  > * {
    min-height: 100%;
  }
}

.Error {
  margin-top: 6px;
  color: red;
}

.CodeExample {
  font-size: 16px;
}

.Blocks {
  display: flex;
  margin: 0 -20px;

  > * {
    padding: 0 20px;
  }

  > div:first-child {
    width: 50%;
  }

  > div:last-child {
    width: 50%;
  }
}

.Article {
  margin-bottom: 40px;

  .CodeMirror {
    height: auto;
  }
}

.Contents {
  padding: 10px 30px;
  box-sizing: border-box;

  h1,
  h2,
  h3 {
    color: #593ebb;
  }
}

div.Intro {
  padding: 40px 0;
  font-size: 21px;
  box-sizing: border-box;
  justify-content: space-between;
}
